
 

@model List<Students>


@{
    //string[] names = (string[])ViewData["names"];

    //int[] nums = ViewBag.numbers;
}

@*@foreach (var item in nums){

    <h1>@item</h1>
}*@

@*<h1>@ViewBag.name</h1>*@


@*@foreach (var item in Model)
{
    <h1>@item.Id</h1>
    <h1>@item.FullName</h1>
    <h1>@item.Age </h1>
}

*@
@*-------------------------------------------*@





<main>
    <h1>Home page</h1>
</main>


